@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">HomeWork1</h1>
    <a asp-page="/Task1">Task 1</a>
    <a asp-page="/Task2">Task 2</a>
    <a asp-page="/Task3">Task 3</a>
    <a asp-page="/Task4">Task 4</a>
    <a asp-page="/Task5">Task 5</a>
</div>
