@page
@model HomeWork1.Pages.Task2Model
@{
    ViewData["Title"] = "Task2";
}
<div>
    <p>
        Завдання 2:<br />
        Створіть і запустіть базовий додаток ASP.NET Core, побудований
        на основі ASP.NET Razor Pages. Залежно від випадкового
        значення, на вебсторінці відобразіть будь-яку літеру з
        англійського алфавіту.
    </p>
    <h1>Літерa: @Model.RandomLetter</h1>
</div>
